body{
    background: url(div\ new\ image.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}
.container{
    background-color: blue;
    margin-top: 200px;
    margin-left: 350px;
    color: white;
    width: 200px;
    height: 200px;
    animation: lol 10s;
}
.container:hover
{
    background-color: rgb(0, 255, 234);
    margin-top: 200px;
    margin-left: 350px;
    color: rgb(0, 0, 0);
    width: 250px;
    height: 250px;
    animation: lol 10s;
}
@keyframes lol
{
    to{background-color: blueviolet;}

}